.container {
	background-color: white;
	height: 100%;
	padding-bottom: 15px;
	margin-top: 50px;
}
#savedSection {
	padding-bottom: 20px;
	padding-top: 20px;
}

#savedSection .col-6 {
	text-align: center;
}
#savedSection .col-6 button {
	height: 60px;
	text-align: center;
	width: 180px;
}
#savedSection .col-6 h1 {
	margin-bottom: 0;
	text-align: center;
}
